.about{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 64%;
    flex-wrap: wrap;
    font-family: 'nos';
}
.about-box{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.about-form{
    width: 38vw;
    
}
.about-form h1{
    text-align: center;
}
.about-box button{
    margin-left: 16vw;
    margin-top: 2vw;
    
}
.label-form{
    padding-left: 25rem;
}
#text-area-label{
    padding-left: 27rem;
}
