:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.cart-total {
  font-family: 'Suez One', serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.text-title {
  font-family: 'Suez One', serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
flex-direction: row-reverse;
height: 8rem;
flex-wrap: wrap;
width: 100%;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.title-size{
  font-size:5vw;
}

.siteLogo{
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-left: 6rem;
  } 
  @media screen and (max-width: 600px) {
    .siteLogo {
      display: none;
    }
  }
.puzzle-icon{
  right: 47rem;
  width: 5%;
  height: 5vw;
  margin-bottom: 0.5rem;
  
}
.NavStyle{
  display: flex;
  align-items: center;
}

